{% extends 'base.html' %}
{% load static %}


{% block content %}

<h5 style="margin: 10px 0 10px 0;" class="text-center">Личный кабинет пользователя {{ request.user }}</h5>
<!-- <h4>{{ request.user.first_name }}</h4> -->
<hr>
<h5 style="margin: 10px 0 10px 0;" class="text-center">Ваши заказы</h5>
<table class='table'>
<tr>
	<td class='text-center'><strong>№</strong></td>
	<td class='text-center'><strong>Дата заказа</strong></td>
	<td class='text-center'><strong>Статус</strong></td>
	<td></td>
</tr>
{% for item in order %}
<tr>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.id }}</td>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.date }}</td>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.status }}</td>
	<td class='text-center' style='padding-top: 15px; padding-bottom: 15px;'>
		<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal-{{ item.id }}">Детали заказа</button>
	</td>
</tr>
{% endfor %}
</table>

{% for item in order %}
<div class="modal fade" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<h5 class="modal-title" id="myModalLabel">Заказ № {{ item.id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table class='table' style="margin-bottom: 0;">			
			<td class="text-center"><strong>Товар</strong></td>
			<td class="text-center"><strong>Цена</strong></td>
			<td class="text-center"><strong>Кол-во</strong></td>
			<td class="text-center"></td>
			{% for order_item in item.items.items.all %}
					<tr>
						<td class="text-center" style="width: 40%;">{{ order_item.product.title }}</td>
						<td class="text-center">{{ order_item.product.price }} &#8381;</td>
						<td class="text-center">{{ order_item.qty }}</td>
						<td class="text-center">{{ order_item.item_total }} &#8381;</td>
					</tr>
					{% endfor %}
        	<tr>
	        	<td></td>
	        	<td></td>
	        	<td class="text-center"><strong>Итого:</strong></td>
	        	<td class="text-center"><strong>{{ item.items.cart_total }} &#8381;</strong></td>
	        </tr>
		</table>
		<hr>
   		<h5>Заказчик</h5>
   		<p>Имя: {{ item.first_name }}</p>
   		<p>Фамилия: {{ item.last_name }}</p>
   		<p>Телефон: {{ item.phone }}</p>
   		<h5>Тип доставки</h5>
   		<p>{% if item.buying_type == 'self' %} Самовывоз {% else %}Доставка{% endif %}</p>
   		<p>{% if item.buying_type == 'delivery' %} {{ item.address }}{% endif %}</p>
   		<h5>Комментарии к заказу</h5>
   		<p>{{ item.comments }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}