{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if cart.items.count > 0 %}
<h5 style="margin: 10px 0 10px 0;" class="text-center">Ваша корзина</h5>
<div class="my-cart">

  <table class="table" style="margin: auto;">
    {% for item in cart.items.all %}
    <tr class="cart-item-{{ item.product.id }}">
      <td style="border-bottom: 1px solid #dee2e6; width: 99%;">
        <a href="{{ item.product.get_absolute_url }}"><p class="text-left">{{ item.product.title }}</p></a>
        <p class="text-left small gray-text" style="margin-top: auto;">{{ item.product.subcategory }}</p>
        <p class="text-left small gray-text">{{ item.product.price }} &#8381; за шт.</p>
      </td>
      <td style="border-bottom: 1px solid #dee2e6;">
        <p class="text-right" id="cart-item-total-{{ item.id }}">{{ item.item_total }} &#8381;</p>
        <div class="input-group input-group-sm flex-nowrap" style="margin-top: 5px;">
          <div class="input-group-prepend">
            <button class="minus btn btn-outline-secondary btn-dark" type="button" data-slug="{{ item.product.slug }}" data-id="{{ item.id }}" data-product-id="{{ item.product.id }}">-</button>
          </div>
          <input style="width: 45px; max-width: 45px;" type="text" name="qty" disabled='true' class="form-control text-center cart-item-qty" id='cart-item-qty-{{ item.id }}' data-id="{{ item.id }}" value="{{ item.qty }}">
          <div class="input-group-append">
            <button class="plus btn btn-outline-secondary btn-dark" type="button" data-slug="{{ item.product.slug }}" data-id="{{ item.id }}">+</button>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h5 style="margin-bottom: 10px;" class="text-center" id="cart-total-price">Итого: {{cart.cart_total}} &#8381;</h5>
      <a href="{% url 'checkout' %}" class="pull-right"><button class="btn btn-dark btn-block" style="width: 100%; margin-bottom: 10px;">Предварительный заказ</button></a>
    </div>
  </div>
  
</div>
<h3 class="cart-empty"></h3>
{% else %}
<h5 style="margin: 10px 0 10px 0;" class="text-center">Ваша корзина пуста</h5>
{% endif %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('.minus').on('click', function(e) {
      e.preventDefault()
      product_slug = $(this).attr('data-slug')
      item_id = $(this).attr('data-id')
      item_product_id = $(this).attr('data-product-id')
      qty = $('#cart-item-qty-' + item_id).val()
      if(qty > 1) {
        $('#cart-item-qty-' + item_id).val(qty-1)
        qty = $('#cart-item-qty-' + item_id).val()
        data = {
          qty: qty, 
          item_id: item_id,
        }
        $.ajax({
          type: "GET",
          url: '{% url "change_item_qty" %}',
          data: data, 
          success: function(data) {
            $('#cart-item-total-' + item_id).html(parseFloat(data.item_total).toFixed(2) + ' &#8381;')
            $('#cart-total-price').html('Итого: ' + parseFloat(data.cart_total_price).toFixed(2) + ' &#8381;')
          } 
        })
      } else {
        data = {
          product_slug: product_slug  
        }
        $.ajax({
          type: 'GET',
          url: '{% url "remove_from_cart" %}',
          data: data, 
          success: function(data){
            // console.log(data)
            $('#cart_count').html(data.cart_total)
            $('.cart-item-' + item_product_id).css('display', 'none')
            $('#cart-total-price').html('Итого: ' + parseFloat(data.cart_total_price).toFixed(2) + ' &#8381;')
            if(parseInt(data.cart_total) == 0){
              $('.my-cart').css('display', 'none')
              $('.cart-empty').css('display', 'block')
            }
          }
        })
      }

    })
  })
  $(document).ready(function(){
    $('.plus').on('click', function(e) {
      e.preventDefault()
      product_slug = $(this).attr('data-slug')
      item_id = $(this).attr('data-id')
      qty = $('#cart-item-qty-' + item_id).val()
      if(qty < 99) {
        $('#cart-item-qty-' + item_id).val(Number(qty)+1)
        qty = $('#cart-item-qty-' + item_id).val()
        data = {
          qty: qty, 
          item_id: item_id,
        }
        $.ajax({
          type: "GET",
          url: '{% url "change_item_qty" %}',
          data: data, 
          success: function(data) {
            $('#cart-item-total-' + item_id).html(parseFloat(data.item_total).toFixed(2) + ' &#8381;')
            $('#cart-total-price').html('Итого: ' + parseFloat(data.cart_total_price).toFixed(2) + ' &#8381;')
          } 
        })
      }
    })
  })
</script>
{% endblock content %}