{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h2>{{ category.name }}</h2>
    </div>
</div>
<div class="row">
    {%for product in products_of_category%}
    <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h4>
                <h5>${{ product.price }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                {% if request.user.is_authenticated %}
                  <p class='text-center'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-primary'>Добавить в корзину</button></a></p>
                {% endif %} 
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
    {%endfor%}
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  // асинхронный скриптинг для корзины
  $(document).ready(function(){
    $('.add_to_cart').on('click', function(e){
      e.preventDefault()
      product_slug = $(this).attr('data-slug')
      // console.log(product_slug)
      data = {
        product_slug: product_slug  
      }
      $.ajax({
        type: 'GET',
        url: '{% url "add_to_cart" %}',
        data: data, 
        success: function(data){
          // console.log(data)
          $('#cart_count').html(data.cart_total)
        }
      })
    })
  })  
</script>
{% endblock content %}