{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h5 style="margin: 10px 0 10px 0;" class="text-center">Оформление заказа</h5>
<hr style="margin: 10px 0 10px 0;">
<form action='{% url "make_order" %}' method="POST">
{% csrf_token %}
<div class="row" style="margin: -10px !important;">
	<div class='col-sm-6' style="margin: 0;">
		{{ form.phone|as_crispy_field }}
	</div>
	<div class='col-sm-6' style="margin: 0;">
		{{ form.name|as_crispy_field }}
	</div>
</div>
{{ form.comments|as_crispy_field }}
<input type='submit' class='btn btn-dark btn-block' value='Оформить заказ' style="width: 100%; margin-bottom: 10px;">
</form>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
	$(document).ready(function(){
		$("#id_name").attr("value", "{{first_name}}")
	})

</script>
{% endblock content %}