{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-sm-4">
        <img src="{{ product.image.url }}" style="width: 100%; ">
      </div>
      <div class="col-sm-8">
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p>{% lorem %}</p>
        <hr>
        <h5>${{ product.price }}</h5>
        {% if request.user.is_authenticated %}
          <a href="#" class="add_to_cart" data-slug="{{ product.slug }}"><button class="btn btn-primary" style="margin-top: 20px;">Добавить в корзину</button></a>
        {% else %}
          <small class='text-center'><a href='{% url "login" %}'>Войдите</a> или <a href='{% url "registration" %}'>зарегистрируйтесь</a> чтобы добавть товар в корзину.</p></small>
        {% endif %}
               
      </div>      
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  // асинхронный скриптинг для корзины
  $(document).ready(function(){
    $('.add_to_cart').on('click', function(e){
      e.preventDefault()
      product_slug = $(this).attr('data-slug')
      // console.log(product_slug)
      data = {
        product_slug: product_slug  
      }
      $.ajax({
        type: 'GET',
        url: '{% url "add_to_cart" %}',
        data: data, 
        success: function(data){
          // console.log(data)
          $('#cart_count').html(data.cart_total)
        }
      })
    })
  })  
</script>
{% endblock content %}