{% extends 'base.html' %}
{% load static %}
{% block content %}
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-delay='2000'>
  <div class="toast-body">
    <a style="color: white;">Добавлено в корзину</a> 
  </div>
</div>
 
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="nav-big" style="display: inline-flex;">     
      <a href='{% url "catalog" %}'>
        <button class='btn btn-sm btn-dark btn-block'>Каталог</button>
      </a>
      <p style="padding: 3px 5px 0 5px;">></p>
      <a href='{{ subcategory.category.part.get_absolute_url }}'>
        <button class='btn btn-sm btn-dark btn-block'>{{ subcategory.category.part }}</button>
      </a>
      <p style="padding: 3px 5px 0 5px;">></p>
      <a href='{{ subcategory.category.get_absolute_url }}'>
        <button class='btn btn-sm btn-dark btn-block'>{{ subcategory.category }}</button>
      </a>
      <p style="padding: 3px 5px 0 5px;">></p>
      <p style="padding-top: 4px;">{{ subcategory.name }}</p>   
    </div>

    <div class="nav-small" style="display: inline-flex;">        
      <div class="btn-group btn-group-sm">
        <div class="btn-group dropleft btn-group-sm" role="group">
          <button style="padding-left: 10px; padding-right: 11px;" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropleft</span>
          </button>
          <div class="dropdown-menu">
            <a href='{% url "catalog" %}' class="dropdown-item">Каталог</a>  
            <a href='{{ subcategory.category.part.get_absolute_url }}' class="dropdown-item">{{ subcategory.category.part }}</a>   
            <a href='{{ subcategory.category.get_absolute_url }}' class="dropdown-item">{{ subcategory.category }}</a>   
            <a href='#' class="dropdown-item disabled">{{ subcategory.name }}</a>   
          </div>
        </div>
      </div>
      <p style="padding-left: 10px; padding-top: 4px;">{{ subcategory.name }}</p>
    </div>
  </div>
</div>
<div class="row">
  {%for product in products_of_subcategory%}    
    {% if product.available %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="card h-100">
          <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
          <hr class="card-hr">
          <div class="card-body">
            <div class="card-title text-center">
              <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </div>
            <div style="margin: 10px 0 10px 0;" class="text-center">
              <a>{{ product.price }} &#8381;</a>
            </div>          
            <div class='text-center'>
              <a href='#' class='add_to_cart' data-slug='{{ product.slug }}'>
                <button class='btn btn-dark btn-block'>Добавить в корзину</button>
              </a>
            </div>
            <!-- {% if request.user.is_authenticated %}
              <div class='text-center'>
                <a href='#' class='add_to_cart' data-slug='{{ product.slug }}'>
                  <button class='btn btn-dark btn-block'>Добавить в корзину</button>
                </a>
              </div>
            {% endif %}  -->
          </div>
        </div>
      </div>      
    {% endif %} 
  {%endfor%}
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  $(window).resize(function(){      
    var nav_small = (document.getElementsByClassName("nav-small"))[0];
    var nav_big = (document.getElementsByClassName("nav-big"))[0];
    if ($(window).width() <= 991 ) {      
      nav_big.style.display = "none";
      nav_small.style.display = "inline-flex";
    }else{      
      nav_big.style.display = "inline-flex";
      nav_small.style.display = "none";
    }
  })
  $(document).ready(function(){ 
    var nav_small = (document.getElementsByClassName("nav-small"))[0];
    var nav_big = (document.getElementsByClassName("nav-big"))[0];
    if ($(window).width() <= 991 ) {      
      nav_big.style.display = "none";
      nav_small.style.display = "inline-flex";
    }else{      
      nav_big.style.display = "inline-flex";
      nav_small.style.display = "none";
    }
    $('.add_to_cart').on('click', function(e){
      e.preventDefault()
      $('.toast').toast('show')
      product_slug = $(this).attr('data-slug')
      // console.log(product_slug)
      data = {
        product_slug: product_slug  
      }
      $.ajax({
        type: 'GET',
        url: '{% url "add_to_cart" %}',
        data: data, 
        success: function(data){
          // console.log(data)
          $('#cart_count').html(data.cart_total)
        }
      })
    })
  })  
</script>
{% endblock content %}